* 
{
    padding: 0px;
    margin: 0px;
    font-family: 'Manjari';
}

body
{
    background-image: url("../../imgs/background3.png");

    width: 100%;
    height: 100%;
}

.logo
{
    width: 100%;
    height: 100%;

}
.content
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
  
}
.mdl-snackbar__text{
    text-align: center;
}
@media screen and (max-width: 1570px){
body{
    background-image: url("../../imgs/backgroundipad.png");
}


}
